@import "../../common/css/mixin.styl"

.G-page
    background transparent
    .G-user-info-box
    	background #fafafa
    	_border(bottom,#f0f0f0)
    	_boxSizing()
    	padding .4rem
    	padding-left 2.7rem
    	.m-pic
    		width 2rem
    		height 2rem
    		_borderRadius(50%)
    		position absolute
    		top .4rem
    		left .4rem
    		img
    			width 100%
    			height 100%
    			_borderRadius(50%)
    	.m-con
    		.u-tit
    			margin-top .2rem
    			height .8rem
    			line-height .8rem
    			font-size 16px
    			_spacingPlus()
    			color #545454
    		.u-txt
    			margin-top .15rem
    			margin-bottom .15rem
    			height .7rem
    			line-height .7rem
    			font-size 14px
    			color #777
    			.u-pirce
    				font-size 16px
    				color #f43
    				.iconfont
    					color #ffc210
    					font-size 18px
    					margin-right 2px
    			
    			
    .G-lst-group
    	.m-item
    		margin-top .20rem
    		background #fafafa
    		_border(top,#f0f0f0)
    		_border(bottom,#f0f0f0)
    		.u-lk
    			color #777
    			font-size 14px
    			_display()
    			height 38px
    			line-height 38px
    			position relative
    			_boxSizing()
    			padding 0 .3rem 0 50px
    			.i-icon
    				position absolute
    				left 8px
    				top 2px
    				width 38px
    				text-align center
    				font-size 19px
    				color #959595
    			.u-info
    				width 100%
    				position relative
    				.i-enter
    					position absolute
    					right 0
    					top 0
    					color #c2c2c2
    		
    	