@import "../../common/css/mixin.styl"

.G-page
    background transparent
    .G-line-info
    	background transparent
	.m-no-record
		background transparent
		height 100%
		width 100%
		position fixed
		top 0
		background #e45