@import "../../common/css/mixin.styl"

.G-page
    background transparent
    .m-lst-gp
    	.m-item
    		margin-top .20rem
    		background #fafafa
    		_border(top,#f0f0f0)
    		_border(bottom,#f0f0f0)
    		.u-lk
    			color #777
    			font-size 14px
    			_display()
    			height 38px
    			line-height 38px
    			position relative
    			_boxSizing()
    			padding 0 .3rem 0 42px
    			.i-icon
    				position absolute
    				left 8px
    				top 2px
    				width 30px
    				text-align center
    				font-size 19px
    				color #959595
    			.u-info
    				width 100%
    				position relative
    				.i-enter
    					position absolute
    					right 0
    					top 0
    					color #c2c2c2
    .m-recharge-box
    	background #fafafa
    	margin-top .20rem
    	_border(top,#f0f0f0)
    	_border(bottom,#f0f0f0)
    	_boxSizing()
    	padding 0 .3rem
    	color #545454
    	.m-tit
    		height 36px
    		line-height 36px
    		font-size 14px
    		font-weight normal
    	.m-con
    		wiidth 100%
    		margin-left -2.33%
    		.u-lk
    			_display()
    			float left
    			height 32px
    			line-height 32px
    			width 31%
    			font-size 14px
    			color #777
    			_borderRadius(3px)
    			margin-left 2.33%
    			margin-bottom .3rem
    			text-align center
    			_boxSizing()
    			border 1px solid #b2b2b2
    			.iconfont
    				color #ffc210
    				margin-right 5px
    				font-size 17px
    				position relative
    				top 1px
    			&.on
    				border 1px solid $c_green
    				background $c_green
    				color #f4f4f4
    				.iconfont
    				    color @color
    			

    .m-line-info
    	background #fafafa
    	_border(top,#f0f0f0)
    	_border(bottom,#f0f0f0)
    	margin-top .20rem
    	height 38px
    	line-height 38px
    	_boxSizing()
    	padding 0 .3rem
    	color #545454
    	font-size 14px
    	
    	.u-price
    		.vital
    			margin-right 7px
    			color #f43
    			font-size 15px
    
    .m-sub-box
    	margin-top .20rem
    	background #fafafa
    	_border(top,#f0f0f0)
    	_border(bottom,#f0f0f0)
    	_boxSizing()
    	padding .4rem .3rem .15rem
    	.u-btn
    		width 100%
    		height 40px
    		line-height 40px
    		text-align center
    		font-size 16px
    		_spacingPlus(2px)
    		_borderRadius(3px)
    		_display()
    		background $c_green
    		color #f4f4f4
    	.m-info
    		text-align right
    		margin-top .15rem
    		height 32px
    		line-height 32px
    		color #545454
    		.u-lk
    			color #f43
    		.u-switch
    			width 36px
    			height 20px
    			_display(inline-block)
    			_borderRadius(10px)
    			background #f5f5f5
    			_boxShadow(4px,rgba(0,0,0,.20),1px,0px,true)
    			vertical-align middle
    			margin-right 10px
    			position relative
    			-moz-transition all .25s linear
    			-ms-transition all .25s linear
    			transition all .25s linear
    			.u-ball
    				width 20px
    				height 20px
    				background #fff
    				_borderRadius()
    				_boxShadow(3px,rgba(0,0,0,.18))
    				position absolute
    				top 0px
    				left 0px
    				-moz-transition left .25s cubic-bezier(0, 0, 0, 0.56)
	    			-ms-transition left .25s cubic-bezier(0, 0, 0, 0.56)
	    			transition left .25s cubic-bezier(0, 0, 0, 0.56)
    				
    			&.on
    				background $c_green
    				.u-ball
    					position absolute
    					left 17px