@import "../../common/css/mixin.styl"

.m-tabnav-box
    width 100%
    height 50px
    box-sizing border-box
    background #fff
    position fixed
    top 0
    left 0
    z-index 999
    _border(bottom,#ededed,1px)
    .u-lk
        line-height 49px
        width 50%
        float left
        text-align center
        font-size 15px
        _spacingPlus(1px)
        color $c_black
        position relative
        &.on
            color $c_green
            &::after
                content ""
                display block
                width 100%
                height 2px
                background $c_green
                position absolute
                left 0
                bottom 0