@charset "utf-8"

//变量前缀为$ ,方法前缀为_

//---颜色变量
//黑色
$c_black = #39424A
$c_black02 = $c_black + 1 * 8% + 1 * .5deg
$c_black03 = $c_black + 2 * 8% + 2 * .5deg
$c_black04 = $c_black + 3 * 8% + 3 * .5deg
$c_black05 = $c_black + 4 * 8% + 4 * .5deg
//蓝色
$c_blue = #1499f7
$c_blue02 = $c_blue + 1 * 8% + 1 * .5deg
$c_blue03 = $c_blue + 2 * 8% + 2 * .5deg
$c_blue04 = $c_blue + 3 * 8% + 3 * .5deg
$c_blue05 = $c_blue + 4 * 8% + 4 * .5deg
//灰色
$c_gray = #d2d3d6
$c_gray02 = $c_gray + -(1 * 8)% + -(1 * .5)deg
$c_gray03 = $c_gray + -(2 * 8)% + -(2 * .5)deg
$c_gray04 = $c_gray + -(3 * 8)% + -(3 * .5)deg
$c_gray05 = $c_gray + -(4 * 8)% + -(4 * .5)deg
//绿色
$c_green = #03BD00
$c_green02 = $c_green + 1 * 8% + 1 * .5deg
$c_green03 = $c_green + 2 * 8% + 2 * .5deg
$c_green04 = $c_green + 3 * 8% + 3 * .5deg
$c_green05 = $c_green + 4 * 8% + 4 * .5deg
//青色
$c_cyan = #29B475
$c_cyan02 = $c_cyan + 1 * 8% + 1 * .5deg
$c_cyan03 = $c_cyan + 2 * 8% + 2 * .5deg
$c_cyan04 = $c_cyan + 3 * 8% + 3 * .5deg
$c_cyan05 = $c_cyan + 4 * 8% + 4 * .5deg
//橘黄
$c_orange = #ff9100
$c_orange02 = $c_orange + 1 * 8% + 1 * .5deg
$c_orange03 = $c_orange + 2 * 8% + 2 * .5deg
$c_orange04 = $c_orange + 3 * 8% + 3 * .5deg
$c_orange05 = $c_orange + 4 * 8% + 4 * .5deg
//金色
$c_yellow = #FFCB10
$c_yellow02 = $c_yellow + 1 * 8% + 1 * .5deg
$c_yellow03 = $c_yellow + 2 * 8% + 2 * .5deg
$c_yellow04 = $c_yellow + 3 * 8% + 3 * .5deg
$c_yellow05 = $c_yellow + 4 * 8% + 4 * .5deg
//红色
$c_red = #ec2a00
$c_red02 = $c_red + 1 * 8% + 1 * .5deg
$c_red03 = $c_red + 2 * 8% + 2 * .5deg
$c_red04 = $c_red + 3 * 8% + 3 * .5deg
$c_red05 = $c_red + 4 * 8% + 4 * .5deg
//粉色
$c_pink = #F02387
$c_pink02 = $c_pink + 1 * 8% + 1 * .5deg
$c_pink03 = $c_pink + 2 * 8% + 2 * .5deg
$c_pink04 = $c_pink + 3 * 8% + 3 * .5deg
$c_pink05 = $c_pink + 4 * 8% + 4 * .5deg
//白色
$c_white = #fff
$c_white02 = $c_white + -(1 * 2.5)%
$c_white03 = $c_white + -(2 * 2.5)%
$c_white04 = $c_white + -(3 * 2.5)%
$c_white05 = $c_white + -(4 * 2.5)%

//---字体大小变量
$f_small  = 12px
$f_normal = 13px
$f_iptxt = 14px
$f_medium = 15px
$f_large  = 22px
$f_super  = 30px

//---字体风格
$f_family = "-apple-system-font","Helvetica Neue","sans-serif"

//---颜色类输出
_colorFn(name,$color,fn=1,count=5)
    .txt-{name}01
        color $color
    for i in 2..count
        .txt-{name}0{i}
            if fn == 1
                color $color + (i - 1) * 8% + (i - 1) * .5deg
            else if fn == 2
                color $color + -((i - 1) * 8)% + -((i - 1) * .5)deg
            else if fn == 3
                color $color + -((i - 1) * 2.5)%
    .bg-{name}01
        background-color $color
    for i in 2..count
        .bg-{name}0{i}
            if fn == 1
                background-color $color + (i - 1) * 8% + (i - 1) * .5deg
            else if fn == 2
                background-color $color + -((i - 1) * 8)% + -((i - 1) * .5)deg
            else if fn == 3
                background-color $color + -((i - 1) * 2.5)%

//---颜色样式输出
_color(color)
    color color

//---背景颜色样式输出
_bgColor(bg=$c_white)
    background-color bg

//---显示方式
_display(arg=block)
    display arg

//---隐藏
_box__hide()
    display none

//---显示
_box__show()
    display block

//---边框线
_border(direction,color=$c_white03,pixel=1px)
    border-{direction} pixel solid color

//---严格盒模型
_boxSizing(fn=1)
    if fn == 1
        -webkit-box-sizing border-box
        box-sizing border-box
    else if fn == 2
        -webkit-box-sizing content-box
        box-sizing content-box

//---垂直居中布局
_verticalLayout(left=auto,right=auto,top=0,bottom=0)
    position absolute
    top top
    bottom bottom
    margin auto 
    left left
    right right

//---完全居中布局
_completeCenter(left=0,right=0,top=0,bottom=0)
    position absolute
    top top
    right right
    bottom bottom
    left left
    margin auto

//---图片大小控制(被容器填充)
_imgwrap(x=100%,y=100%)
    & img
        width x
        height y

//---黑子溢出处理
_overflow(method=hidden)
    overflow method

//---字体间隔
_spacing(pixel=1px)
    letter-spacing pixel

//---字体间隔升级版
_spacingPlus(pixel=1px)
    letter-spacing pixel
    text-indent pixel

//---单行/多行文字溢出省略
_ellipsis(line=1)
    if line == 1
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
    else if line > 1
        display -webkit-box !important
        overflow hidden
        text-overflow ellipsis
        word-break break-all
        -webkit-box-orient vertical
        -webkit-line-clamp line

//---圆角
_borderRadius(pixel=50%)
    -webkit-border-radius pixel
    -moz-border-radius pixel
    border-radius pixel

//---线性渐变
_gradient(bColor,eColor)
    background -webkit-linear-gradient(left top, bColor, eColor)
    background -o-linear-gradient(bottom right, bColor, eColor)
    background -moz-linear-gradient(bottom right, bColor, eColor)
    background linear-gradient(to bottom right, bColor, eColor)

//---按钮颜色
_btnColor(bgColor,txtColor,h_bgColor,h_txtColor)
    background bgColor
    color txtColor
    &.actived,&:active
        background h_bgColor
        color h_txtColor

//---盒子阴影颜色
_boxShadow(range=10px,color=$c_black,x=0,y=0,ins=false)
    if ins != true
        box-shadow x y range color
    else
        box-shadow inset x y range color


/* 颜色辅助类 */
//黑色
_colorFn('black',$c_black,1,5)
//蓝色
_colorFn('blue',$c_blue,1,5)
//灰色
_colorFn('gray',$c_gray,2,5)
//绿色
_colorFn('green',$c_green,1,5)
//橘黄
_colorFn('orange',$c_orange,1,5)
//金黄
_colorFn('yellow',$c_yellow,1,5)
//青色
_colorFn('cyan',$c_cyan,1,5)
//红色
_colorFn('red',$c_red,1,5)
//粉色
_colorFn('pink',$c_pink,1,5)
//白色
_colorFn('white',$c_white,3,5)


//---工具类样式
.nopadding
    padding 0!important
.nomargin
    margin 0!important


//---网页样式主体
body
    _bgColor($c_white03)
    &.pure
        _bgColor($c_white)
//页面
.G-page
    width 10rem
    position relative
    margin 0 auto
    _bgColor($c_white)
    &.transparent
        _bgColor(transparent)
    .G-input-rimless
        border: none
    .G-step-foot
        width 9rem
        _verticalLayout(0,0,auto,.35rem)
        .G-link-txt
            _display()
            _spacingPlus(1px)

//按钮
.G-btn
    border none
    _btnColor($c_green02,$c_white02,$c_green,$c_white02)
    &.G-btn-primary
        border none
        _btnColor($c_green02,$c_white02,$c_green,$c_white02)
    &.G-btn-hollow
        border 1px solid $c_white05
        _btnColor($c_white,$c_black02,$c_white02,$c_black02)
    &.G-btn-gray,&.G-btn-disabled
        background $c_gray
        color $c_black03
    &.G-btn-full
        _display()
        width 100%
        height 1.05rem
        line-height 1.05rem
        text-align center
        font-size $f_medium
        _spacingPlus(.25rem)
        _borderRadius(.15rem)


//链接
.G-link-txt
    color $c_blue02
    font-size $f_normal
    &.actived,&:active
        color $c_blue