@charset "utf-8"

// 变量前缀为$ ,方法前缀为_

//颜色变量
//白色
$color_white = #fff
$color_w1 = color_white - 8%
$color_w2 = $color_w1 - 8%
$color_w3 = $color_w2 - 8%
$color_w4 = $color_w3 - 8%
//黑色
$color_black = #313536
$color_bk_a = $color_black + 8%
$color_bk_b = $color_bk_a + 8%
$color_bk_c = $color_bk_b + 8%
$color_bk_d = $color_bk_c + 8%
//灰色
$color_gray = #b2b2b2
$color_g1 = $color_gray - 8%
$color_g2 = $color_g1 - 8%
$color_g3 = $color_g2 - 8%
$color_g4 = $color_g3 - 8%
$color_gy_a = $color_gray + 10%
$color_gy_b = $color_gy_a + 15%
$color_gy_c = $color_gy_b + 20%
$color_gy_d = $color_gy_c + 25%
//红色
$color_red = #f43
$color_r1 = $color_red - 8%
$color_r2 = $color_r1 - 8%
$color_r3 = $color_r2 - 8%
$color_r4 = $color_r3 - 8%
$color_r_a = $color_red + 8%
$color_r_b = $color_r_a - 8%
$color_r_c = $color_r_b - 8%
$color_r_d = $color_r_c - 8%
//蓝色
$color_blue = #3c89fd
$color_be1 = $color_blue - 8%
$color_be2 = $color_be1 - 8%
$color_be3 = $color_be2 - 8%
$color_be4 = $color_be3 - 8%
$color_be_a = $color_blue + 8%
$color_be_b = $color_be_a + 8%
$color_be_c = $color_be_b + 8%
$color_be_d = $color_be_c + 8%
$color_be_d1 = $color_blue - 8deg
$color_be_d2 = $color_be_d1 - 8deg
$color_be_1d = $color_blue + 8deg
$color_be_2d = $color_be_1d + 8deg

//字体大小变量
$fontSize_small  = 12px
$fontSize_normal = 13px
$fontSize_medium = 15px
$fontSize_large  = 22px
$fontSize_super  = 30px