@import '../../common/css/app'
.G-page
    height 100vh
    background-color $c_white
    _boxSizing()
    padding 1rem
    .G-page-box
        width 100%
        height 100%
        _boxSizing()
        padding 1rem 0 0
        .G-logo
            width 2rem
            height 2.05rem
            margin 0 auto
            _imgwrap()
        .G-logo-txt
            font-size $f_medium
            color $c_blue
            _spacingPlus(1px)
            text-align: center;
            margin .6rem auto .8rem
        .G-btn
            _display(block)
            width 100%
            font-size $f_medium
            _borderRadius(.12rem)
            &.G-btn-primary
                color #fff
                margin-bottom .6rem

    .G-step-foot
        width 9rem
        _verticalLayout(0,0,auto,.35rem)
        .G-link-txt
            _display(block)
            _spacingPlus(1px)

